/* banner style  */
@import url('https://fonts.googleapis.com/css2?family=Azeret+Mono:ital,wght@0,100..900;1,100..900&display=swap');
*{
    font-family: "Azeret Mono", monospace;
}

.banner{
    display: flex;
}
#banner-bg{
    position: absolute;
    max-width: 1440px;
    width: 99.4%;
    height: 652px;
}
#cartoon-coder{
    left: 580.67px;
    top: 40px;
    position: relative;
    z-index: 1;
}
#header-tagline{
    font-size: 48px;
    font-weight: 800;
    margin-top: 69px;
    margin-left: 190px;
    text-align: center;
    width: 998px;
    height: 136px;
}
#p1{
    font-size: 16px;
    font-weight: 400;
    text-align: center;
    width: 852px;
    height: 52px;
    margin-left: 280px;
}
#contact-btn{
    position: relative;
    cursor: pointer;
    margin: auto;
    font-size: 18px;
    padding: 10px;
    display: block;
    margin-top: 25px;
    margin-bottom: 30px;
    background-color: black;
    color: white;
    border-radius: 3px;
}
#contact-btn:hover{
    position: relative;
    cursor: pointer;
    margin: auto;
    font-size: 19px;
    padding: 9px;
    display: block;
    margin-top: 25px;
    margin-bottom: 30px;
    background-color: rgb(41, 40, 40);
    color: aliceblue;
    border-radius: 7px;
}
/* main style  */
#main-section1{
    margin-top: 100px;
    background-color: rgb(241, 238, 238);
}
.first-main-section{
    text-align: center;
    color: rgba(13, 19, 33, 0.7);
}
#why-web-dev{
    padding: 20px;
}
#why-web-dev-p{
    margin-left: 150px;
    margin-right: 150px;
    padding-bottom: 40px;
}
.main-section2-3-4{
    display: flex;
    justify-content: space-between;
}
.left-side{
    margin-top: 50px;
    padding: 10px;
    width: 100%;
}
.right-side{
    width: 60%;
    margin-top: 100px;
    margin-left: 500px;
}
#right-side2{
    margin-left: 100px;
    /* this will show on left side  */
}
#left-side2{
    margin-right: 250px;
    padding-top: 20px;
    /* this will show on right side  */
}
main{
    margin: 100px;
}
.my-inspiration{
    text-align: center;
    margin-top: 50px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 20px;
}
#my-inspiration-h2{
    font-size: 32px;
    font-weight: 800;
}
#my-inspiration-p{
    width: 852px;
    font-size: 16px;
    font-weight: 400;
}
#skill-div{
    background-color: rgb(241, 235, 225);
    width: 364px;
    height: 299px;
    display: flex;
    flex-direction: column;
    align-items:flex-start;
    justify-content: center;
    padding: 50px;
    border-radius: 7px;
}
.skill-item-button{
    border: none;
    text-decoration: underline;
}
#skill-section{
    display: flex;
    gap: 20px;
    
}
/* footer style  */
#footer-section1{
    display: grid;
}
#footer-img1{
    position: absolute;
    left: 10%;
    border-radius: 7px;
    width: 1140px;
}
.footer-text{
    position: relative;
    z-index: 1;
    text-align: center;
    color: aliceblue;
    padding-top: 35px;
}

#footer-section2{
    position: relative;
    margin-top: 160px;
    background-color: antiquewhite;
    padding: 15px;
    display: flex;
    justify-content: space-between;
}
.footer-icon{
    padding-top: 10px;
    width: 36.86px;
    height: 35.95px;
}
#footer-input-text{
    width: 400px;
    height: 25px;
    border-radius: 7px;
}
#footer-input-submit{
    height: 30px;
    width: 300px;
    color: black;
    text-align: center;
    font-size: 16px;
    font-weight: 600;
    border-radius: 7px;
}
#footer-div1{
    display: flex;
    z-index: 1;
    justify-content: center;
    margin-top: 50px;
}